*.pyc
.vscode
.idea
output
build
data
*.ply
**/PKG-INFO
# submodules
**__pycache__**
*.png
*.out
eval
*.npz
**/tmp
dataset/
output/
metrics_data/metrics_table.tex
/submodules/
/submodules/simple-knn/
